<!DOCTYPE html>
<html>
    <head>
        <title>Memorial High School Orchestra</title>
        <link rel="icon" type="image/png" href="/assets/MHSLogo.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <div class="site">
            <header>
                <div class="topheader">
                    <img class="inline-image" src="/assets/MHSEagle.jpg" width="100px"/>
                    <h1>Memorial High School Orchestra</h1>
                    <img class="inline-image" src="/assets/MHSEagle.jpg" width="100px"/>
                </div>
                <br>
                <nav class="navigation">
                    <p>
                        <a href="/">Home</a> | 
                        <a href="/schedule.html">Schedule</a> | 
                        <a href="/students.html">Info for Students</a> |
                        <a href="/parents.html">Info for Parents</a> |
                        <a href="/archive.html">Orchestra Archive</a> |
                        <a href="/contact.html">Contact Us</a>
                    </p>
                </nav>
            </header>
            <hr>
            {{ content }}
        </div>
    </body>
</html>